body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
     overflow: hidden;
     color: white;


}

canvas {
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.login-container {
    background-color: #444;
    padding: 90px;
    border-radius: 40px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.login-form {
    text-align: center;
    z-index: 3;
}
.imgs {
    width: 50px;
    height: 50px;
    position: fixed; 
    left: 48.5%;  
    
}
.img {
    width: 50px;
    height: 50px;
    
}

h2 {
    margin-bottom: 20px;
    z-index: 3;
}

.input-group {
    margin-bottom: 15px;
    z-index: 4;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    z-index: 4;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    z-index: 4;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.remember-me input {
    margin-right: 5px;
    z-index: 4;
}

.forgot-password {
    margin-bottom: 20px;
    z-index: 4;
}

.forgot-password a {
    color: #f90;
    text-decoration: none;
    z-index: 3;
}

button {
    background-color: #f90;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
}

button:hover {
    background-color: #e80;
}

.Register {
    margin-top: 20px;
    z-index: 4;
}

.Register a {
    color: #f90;
    text-decoration: none;
}